<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>IntegraServices</display-name>
  <servlet>
    <servlet-name>AxisServlet</servlet-name>
    <servlet-class>org.apache.axis2.transport.http.AxisServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
<!--   <servlet> -->
<!--     <display-name>Apache-Axis Admin Servlet Web Admin</display-name> -->
<!--     <servlet-name>AxisAdminServlet</servlet-name> -->
<!--     <servlet-class>org.apache.axis2.transport.http.AxisAdminServlet</servlet-class> -->
<!--     <load-on-startup>100</load-on-startup> -->
<!--   </servlet> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>AxisAdminServlet</servlet-name> -->
<!--     <url-pattern>/axis2-admin/*</url-pattern> -->
<!--   </servlet-mapping> -->
</web-app>